<div class="general">
  {{#each exercise}}

    <div class="muscleCard">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{{description}}}</p>
          <p class="card-text">{{{exercise_base}}}</p>

        </div>
      </div>

      <form action="/add-favorite/{{id}}" method="POST">

        <input type="text" name="name" hidden value="{{name}}" />
        <input type="text" name="exercise_base" hidden value={{exercise_base}} />
        <input type="text" name="description" hidden  value={{{description}}}/> 
        <input type="text" name="ejercicioId" hidden value={{id}} />

        <button class="btn btn-primary" type="submit">Añadir a favoritos</button>
      </form>
    </div>
  {{/each}}
</div>