<div>Hola desde exercise</div>

{{#each completeExercise}}

  <p>Nombre del ejercicio: {{name}}</p>
  <p>Descripción: {{description}}</p>
 <p>Categoria: {{category.name}}</p>
 {{#each equipment}}
  <p>Material: {{name}}</p>
  {{/each}}
 {{#each muscles}}
  <p>{{name}}</p>
  <img src= https:wger.de/{{image_url_main}}/>
  
  
  {{/each}}


  

  
{{/each}}

