{{#each exercise}}
<div class="pantallaPartida">
  <h2 class="tituloEjercicio"> {{name}}</h2>
  <p class="subcategorias">Categoría:<br /> </p><p class="nomSubCateg">{{category.name}}</p>
  {{#if equipment}}
 <p class="subcategorias">Equipamiento: <br /></p>
    {{#each equipment}}
<p class="nomSubCateg"> {{name}}</p>
    {{/each}}
  {{/if}}
  <p class="subcategorias">Descripción: </p><br /><p class="nomSubCateg">{{description}}</p>
  {{#if images}}
  <p class="subcategorias">Imágenes: </p>
  <div class="subImagen">
    {{#each images}}
<img class="imagenEjercicio" src="{{image}}" />
    {{/each}}
    </div>
  {{/if}}
    {{#if comments}}
    <p class="subcategorias">Comentarios para este ejercicio: </p>
    {{#each comments}}
  <p class="nomSubCateg">{{comment}}</p>
    {{/each}}
  {{/if}}
  {{#if muscles}}
  <div class="musculoDiv">
   <p  class="subcategorias">Músculos:</p>
    {{#each muscles}}
    <div class="musculoImgs"> 
      <img  class="muscleImg" src="https://wger.de{{image_url_main}}" />
     {{#if is_front}}
     <img class="frontImg" src="https://wger.de/static/images/muscles/muscular_system_front.svg">
     {{else}}
     <img src="https://wger.de/static/images/muscles/muscular_system_back.svg">
      </div>
     {{/if}}
    {{/each}}
    </div>
  {{/if}}
  
  {{#if equipment}}
    {{#each equipment}}
      <p class="subcategorias">Equipamiento: <br /> <p class="nomSubCateg">{{name}}</p>
    {{/each}}
  {{/if}}


{{/each}}